node-red/server.json
[{"id":"c4731874.4e0338","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3267b7e8.947238","type":"mqtt in","z":"c4731874.4e0338","name":"","topic":"#","qos":"2","datatype":"auto","broker":"59ccff5.38423","x":210,"y":160,"wires":[["f1ec25d9.1a6838"]]},{"id":"7811fb71.175fc4","type":"debug","z":"c4731874.4e0338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"f1ec25d9.1a6838","type":"function","z":"c4731874.4e0338","name":"ExtractVAL","func":"msg.id = msg.topic.split('/')[1];\n\nvar data = JSON.parse(msg.payload); \n\nmsg.Status = data.Status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[["7811fb71.175fc4","e1ed8b37.713448"]]},{"id":"e1ed8b37.713448","type":"link out","z":"c4731874.4e0338","name":"extendout","links":["4483731b.e48b4c","ae48f1e6.9a3aa"],"x":635,"y":200,"wires":[]},{"id":"4483731b.e48b4c","type":"link in","z":"c4731874.4e0338","name":"","links":["e1ed8b37.713448"],"x":165,"y":260,"wires":[["a3fc9ada.f6b1b8"]]},{"id":"a3fc9ada.f6b1b8","type":"function","z":"c4731874.4e0338","name":"Status","func":"msg.payload = msg.Status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":260,"wires":[["73d6a1d8.64c94","b8d64614.ee12b8","1d91a139.11d02f"]]},{"id":"73d6a1d8.64c94","type":"ui_button","z":"c4731874.4e0338","name":"","group":"dcadac8c.00c71","order":0,"width":0,"height":0,"passthru":false,"label":"OrderNow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Order now on","payloadType":"str","topic":"","x":530,"y":260,"wires":[["5e2e0f6d.f02ed","f0d94c06.96223"]]},{"id":"b8d64614.ee12b8","type":"function","z":"c4731874.4e0338","name":"add Database","func":"//INSERT INTO `log` (`timestamp`, `id`, `status`) VALUES (CURRENT_TIMESTAMP, 'test', 'torched');\nmsg.topic = \n\"INSERT INTO `log` (`timestamp`, `id`, `status`) VALUES (CURRENT_TIMESTAMP, '\"+ msg.id +\"', '\"+ msg.Status +\"');\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":480,"wires":[["484eac51.11afc4"]]},{"id":"484eac51.11afc4","type":"mysql","z":"c4731874.4e0338","mydb":"7b1a5c7a.91f6c4","name":"","x":570,"y":480,"wires":[[]]},{"id":"5e2e0f6d.f02ed","type":"ui_audio","z":"c4731874.4e0338","name":"","group":"dcadac8c.00c71","voice":"Microsoft Mia Online (Natural) - English (United Kingdom)","always":"","x":800,"y":260,"wires":[]},{"id":"1d91a139.11d02f","type":"ui_button","z":"c4731874.4e0338","name":"","group":"dcadac8c.00c71","order":2,"width":0,"height":0,"passthru":false,"label":"OrderWait","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Order wait on","payloadType":"str","topic":"","x":520,"y":320,"wires":[["880ed96.20f5f28","df48212f.687da"]]},{"id":"880ed96.20f5f28","type":"ui_audio","z":"c4731874.4e0338","name":"","group":"dcadac8c.00c71","voice":"Microsoft Mia Online (Natural) - English (United Kingdom)","always":"","x":800,"y":320,"wires":[]},{"id":"f0d94c06.96223","type":"ui_toast","z":"c4731874.4e0338","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":960,"y":200,"wires":[]},{"id":"df48212f.687da","type":"ui_toast","z":"c4731874.4e0338","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":980,"y":360,"wires":[]},{"id":"59ccff5.38423","type":"mqtt-broker","name":"mqtt","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcadac8c.00c71","type":"ui_group","name":"Button Order","tab":"770bcb87.22e5b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b1a5c7a.91f6c4","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"project","tz":"","charset":"UTF8"},{"id":"770bcb87.22e5b4","type":"ui_tab","name":"UI device","icon":"dashboard","disabled":false,"hidden":false}]